@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

$font-family: 'Poppins', sans-serif;

$primary--white: #f6f5f5;
$primary--black: #1a1a1a;
$primary--red: #ff3434;
$primary--blue: #1a73e8;
$primary--green: #34ff34;

$border--color: #e0e0e0;
$border--radius: 5px;

$shadow--color: rgba(0, 0, 0, 0.2);
$shadow--color--hover: rgba(0, 0, 0, 0.4);

$transition--duration: 0.3s;

$small: 0.8rem;
$medium: 1rem;
$large: 1.2rem;
$xl: 1.4rem;
$xxl: 1.6rem;

$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-bold: 600;
$w-black: 700;